{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["styled-components", { "minify": false }]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "styled-components-named"
      ]
    }
  }
}
