{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest"
  ],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "semi": [2, "never"],
    "semi-style": [2, "first"],
    "func-names": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx"]
    }],
    "react/jsx-curly-spacing": [2, "always", {
      "spacing": {
        "objectLiterals": "never"
      }
    }],
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.js", "**/*.stories.js", "config/**/*.js"]}],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off"
  }
}
